.home__imgContainer {
    position: relative;
    overflow: hidden;
    z-index: 1;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../../assets/mountain.jpg") no-repeat center;
    background-size: cover;
    mask-image: linear-gradient(to bottom, rgb(0, 0, 0), rgba(124, 124, 124, 0.9));
}

.home__info {
    display: flex;
    width: 60rem;
    height: 50vh;
    color: white;
    justify-content: center;
    align-items: center;
    
    flex-direction: column;
}
.home__info > h1 {
    margin-bottom: 30px;
    color: rgb(255, 255, 255);
    letter-spacing: 5px;
    font-size: 40px;
    font-weight: 400;
}
.home__info > h3 {
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.849);
}
.home__info > a > button {
    background-color: red;
    color: white;
    outline: none !important;
    padding: 15px 30px;
    transition: all 0.3s ease-in;
}
.home__info > a > button:hover {
    background-color: black;
    color: white;
}
.home__info > a:hover {
    text-decoration: none;
}

.home__diagonal {
    position: absolute;
    background-color: white;
    bottom: -100px;
    left: -1px;
    width: 100vw;
    height: 20vh;
    transform: rotate(2.2deg);
}


.about__content{
    height: 700px;
    display: grid;
    grid-template-columns: 55% auto;
    place-items: center;
}

.about__content1{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about__content2 > img {
    width: 100%;
    object-fit: contain;
    height: 300px;
}

.about__quote{
    width: 100%;
    height: 400px;
    position: relative;
    display: flex;
    justify-content: left;
    align-items: center;
}
.about__quote > img{
    width: 50%;
    height: 350px;
    object-fit: contain;
}
.quote{
    position: absolute;
    top: 50;
    left: 40%;
    width: 40%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 740px) {
    .home__info > h3 {
        margin-bottom: 30px;
        font-size: 15px;
        font-weight: 400;
        color: rgba(255, 255, 255, 0.849);
    }
    
    .home__info > a > button {
        font-size: 10px;
        padding: 10px 20px !important;
        
    }
   
.about__content{
    display: flex;
    flex-direction: column;
    
}
.about__content1{
   text-align: left;
   padding: 10px;
}
.about__content1 > h1 {
    font-size: 30px;
   
    margin-bottom: 10px;
}
.about__content2 > img {
   width: 100%;
}
.about__content > p{
    font-size: 20px;
    text-align: left;
   
}
.about__quote{
    flex-direction: column;
    height: 450px;

}
.about__quote > img {
    width: 50%;
    margin-top: 10px;
    margin-bottom: 0px;
}
.quote{
    position: static;
    width: 90%;
    height: 200px;
   
}


}
@media screen and (max-width: 440px) {
  
    .about__quote > img {
       display: none;
    }
    .quote{
       margin-top: 200px;
    }
       
}



 @media screen and (max-width: 328px){
    .home__info > h1 {
        font-size: 15px;
    }
    .quote{
        margin-top: 300px;
     }
  
   
 }
 @media screen and (max-width: 350px){
    .about__content1 > p{
        font-size: 15px;
    }
 }



