.home__imgContainer {
    position: relative;
    overflow: hidden;
    z-index: 1;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../../assets/4.jpg") no-repeat center;
    background-size: cover;
    mask-image: linear-gradient(to bottom, rgb(0, 0, 0), rgba(124, 124, 124, 0.9));
}

.home__info {
    display: flex;
    width: 60rem;
    height: 50vh;
    color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.home__info > h1 {
    margin-bottom: 30px;
    color: rgb(255, 255, 255);
    letter-spacing: 5px;
    font-size: 40px;
    font-weight: 400;
}
.home__info > h3 {
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.849);
}
.home__info > a > button {
    background-color: red;
    color: white;
    outline: none !important;
    padding: 15px 30px;
    transition: all 0.3s ease-in;
}
.home__info > a > button:hover {
    background-color: black;
    color: white;
}
.home__info > a:hover {
    text-decoration: none;
}

.home__diagonal {
    position: absolute;
    background-color: white;
    bottom: -100px;
    left: -1px;
    width: 100vw;
    height: 20vh;
    transform: rotate(2.2deg);
}

.home__content {
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.home__content > h1 {
    margin-bottom: 60px;
}
.home__contentP {
    height: max-content;
    font-size: 25px;
    line-height: 50px;
    text-align: center;
    font-weight: 300;
    width: 80%;
    color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home__contentP > p > span {
    color: red !important;
}
.home__partner {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 400px;
    width: 100%;
}
.home_contact {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 400px;
    width: 100%;
    color: white;
    background: url("../../assets/buddha.jpg") no-repeat fixed;
    background-size: cover;
    flex-direction: column;
}
.home_contact > button {
    outline: none !important;
    background-color: red !important;
    padding: 15px 25px !important;
    transition: all 0.5s ease-in-out;
    color: white;
}
.home_contact > button:hover {
    outline: none !important;
    background-color: black !important;

}
.testimonial {
    margin-bottom: 30px;
}
.testimonial > h1 {
    text-align: center;
    padding-bottom: 20px;
    font-weight: 300;
    margin-top: 90px;
}

@media screen and (max-width: 860px) {
    .home__content {
        margin-top: 30px;
    }
    .home__contentP {
        font-size: 15px;

    }
    .home__content > h1 {
        font-size: 20px;
    }
    .testimonial > h1 {
        font-size: 20px;
    }
    .home_contact {
        justify-content: center;
    }

    .home_contact > h1 {
        font-size: 20px;
    }

}
@media screen and (max-width: 440px) {
    .home__content {
        margin-top: 30px;
        height: 250px;
    }
    .home__contentP {
        font-size: 10px;
        line-height: 30px;

    }

    .home__content > h1 {
        font-size: 15px;
    }
    .testimonial {
        margin-bottom: 10px;
    }
    .testimonial > h1 {
        font-size: 15px;
    }

}
@media screen and (max-width: 620px) {
    .home__info > h1 {

        font-size: 20px;
    }
    .home__info > h3 {
        margin-bottom: 30px;
        font-size: 15px;
        font-weight: 400;
        color: rgba(255, 255, 255, 0.849);
    }

    .home__info > a > button {
        font-size: 10px;
        padding: 10px 20px !important;

    }
    .home_contact > h1 {
        font-size: 15px;
    }
    .home_contact > button {
        font-size: 10px;
        padding: 10px 20px !important;
    }

}

@media screen and (max-width: 328px) {
    .home__info > h1 {
        font-size: 15px;

    }
    .home__content > h1 {
        margin-bottom: 5px;
        font-size: 10px;
    }
    .home_contact > h1 {
        font-size: 10px;
    }
    .home_contact > button {
        font-size: 10px;
        padding: 10px 10px !important;
    }

}
@media screen and (max-width: 350px) {
    .home__content > h1 {
        margin-bottom: 15px;
        font-size: 12px;
    }
}
