.payment{
    height: 930px;
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
    width: 80%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.formStyle{
    width: 100% !important;
    margin-bottom: 30px !important;
}

.btn {
    background-color: red !important;
    color: white !important; 
}
.boxInfo{
    background-color: whitesmoke;
    box-shadow: 5px 5px 18px rgb(156, 156, 156);
    display: flex;
    padding: 10px;
   align-items: left;
   flex-direction: column;
   margin-bottom: 20px;
   width: 100%;
    
}